bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
ClatterUnityExamples/.vs/
ClatterUnityExamples/Logs/
ClatterUnityExamples/Library/
ClatterUnityExamples/Temp/
ClatterUnityExamples/.vsconfig
docs/xml/
docs/html/clatter*/
docs/scratch.py