bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
ClatterUnityExamples/.vs/
ClatterUnityExamples/Logs/
ClatterUnityExamples/Library/
ClatterUnityExamples/Temp/
ClatterUnityExamples/.vsconfig
docs/xml/
github_auth.txt
ClatterUnityExamples/Assets/Plugins/
ClatterUnityExamples/UserSettings/EditorUserSettings.asset
Clatter/Clatter.Core/clatter_rs.dll
clatter_rs/target/