@font-face {
    font-family: 'OpenDyslexic-Regular';
    src:
        url('fonts/open_dyslexic/OpenDyslexic-Regular.otf');
}

@font-face {
    font-family: 'B612-Bold';
    src:
        url('fonts/b612/B612-Bold.ttf');
}

@font-face {
    font-family: 'B612-Regular';
    src:
        url('fonts/b612/B612-Regular.ttf');
}

@font-face {
    font-family: 'Fira';
    src:
        url('fonts/fira/FiraMono-Regular.ttf');
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: 'B612-Regular', sans-serif;
    color: #333;
    margin: 0;
}

h1 {
    font-family: 'B612-Bold', serif;
    font-size: 64px;
    line-height: 42px;
    margin-bottom: 50px;

}

h2 {
    font-family: 'B612-Bold', serif;
    font-size: 36px;
    line-height: 30px;
    text-align: center;
    color: #333;
    margin-block-start: 40px;
    margin-block-end: 30px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    font-size: 20px;
    line-height: 26px;
}

a {
    color: #E30B5C;
}

th {
    font-family: 'B612-Regular', sans-serif;
    color: #333;
}

a:hover {
    text-decoration: underline;
}

code {
    font-family: 'Fira', serif;
}

.navbar {
    overflow: hidden;
    background-color: #E30B5C;
    color: #333;
    top: 0;
    width: 100%;
    height: 70px;
    font-size: 15px;
    position: fixed;
    z-index: 1;
}

.navbar a {
    color: #333;
}

.navbar a:active {
    text-decoration: underline;
}

.right a {
    float: right;
}

.container {
    width: 100%;
}

.top {
    background-color: #E30B5C;
    height: 650px;
}

.clear {
    background-color: #fff;
    height: auto;
}

.nav-top {
    border-bottom: 2px solid #E30B5C;
}

.row {
    max-width: 100rem;
    margin: auto;
    display: block;
}

.content {
    padding: 22px;
}

.wrapper {
    display: flex;
    padding: 22px;
}

.sidepanel {
    width: 12%;
    margin-top: 11%;
    background-color: #fff;
    overflow-x: hidden;
    position: fixed;
    height: 80%;
}

.sidepanel a.title {
    font-family: 'B612-Bold', serif;
    font-size: 18px;
    text-align: left;
    text-decoration: none;
    color: #E30B5C;
    display: block;
    padding-bottom: 12px;
}

.sidepanel a.section {
    font-family: 'B612-Regular', sans-serif;
    font-size: 15px;
    text-align: left;
    line-height: 30px;
    display: block;
    text-decoration: none;
    color: #E30B5C;
}

.sidepanel a.sub-section {
    font-family: 'B612-Regular', sans-serif;
    font-size: 15px;
    text-align: left;
    line-height: 25px;
    display: block;
    text-decoration: none;
    color: #E30B5C;
    padding-left: 20px;
}

.sidepanel a.title:hover,
.sidepanel a.section:hover,
.sidepanel a.sub-section:hover {
    text-decoration: underline;
}

.main-col {
    width: 100%;
    margin: auto;
    text-align: center;
}

.main-col p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 36px;
}

.right-col {
    margin-top: 9%;
    text-align: left;
    width: 80%;
    margin-left: 20%;
}

.right-col h1 {
    font-size: 275%;
    line-height: 100%;
    margin-bottom: 4%;
}

.right-col h2 {
    font-size: 175%;
    line-height: 130%;
    margin-bottom: 5px;
    text-align: left;
    margin-block-start: 20px;
    margin-block-end: 10px;
}

.right-col li {
    font-size: 18px;
    line-height: 26px;
}


.right-col table{
    width: 100%;
    border-collapse: collapse;
    font-family: 'B612-Regular', sans-serif;
}
.right-col td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

.right-col th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
    font-weight: normal;
}

.right-col tr:nth-child(even){
    background-color: #eee;
}
.right-col tr:first-child th {
    background-color: #aaa;
}

.right-col p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 26px;
}

.right-col a {
    color: #E30B5C;
    text-decoration: underline;
}

.right-col ol {
    margin-block-start: 10px;
}

.right-col p.subtitle {
    color: #b3b3b3;
}

.content footer p {
    float: left;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 0px;
    line-height: 4px;
    text-align: left;
    font-size: 75%;
    color: #b3b3b3;
    background-color: #fff;
}

.content footer p a {
    color: #b3b3b3;
}

.logo {
    width: 150px;
    float: left;
    margin: -10px 30px;
}

.col {
    width: 50%;
    float: left;
}

.top-info {
    font-family: 'B612-Regular', sans-serif;
    font-size: 17px;
    text-align: center;

}

.divider {
    width: 40px;
    height: 4px;
    background: #666666;
    border-radius: 30px;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

.left {
    margin: 20px 0;
}


.footer {
    float: left;
    width: 100%;
    padding: 90px 0 20px;
    font-size: 15px;
    text-align: center;
    background-color: #fff;
}



.footer a {
    color: #b3b3b3;
}

.resp-break {
    display: none;
}

.break {
    display: block;
}

.space {
    height: 30px;
    width: 100%;
    float: left;
}

.double {
    height: 60px;
}

.links {
    float: left;
    padding-bottom: 8px;
}


/* Break Points */


/* Extra small-small devices (phones, 420px and down) */
@media only screen and (max-width: 420px) {

    .logo {
        width: 100px;
    }

    .navbar {
        height: auto;
    }

    h2 {
        font-size: 24px;
    }

    .links {
        float: none;
    }

}



/* Extra small devices (phones, 650px and down) */
@media only screen and (max-width: 650px) {

    .logo {
        width: 115px;
        margin: -10px 0px;
    }

    .navbar a {
        padding-bottom: 5px;
        margin-left: 40px;
        margin-right: 0;
    }

    .resp-break {
        display: block;
        margin: 17px;
    }

    .main-col {
        width: 100%;
    }


    .wrapper {
        display: block;
    }

    .sidepanel {
        width: 100%;
        text-align: center;
        position: relative;
        height: auto;
    }

    .sidepanel a.title,
    .sidepanel a.section,
    .sidepanel a.sub-section {
        text-align: center;
    }

    .left {
        margin: 20px auto;
    }

    .right-col {
        position: relative;
        margin-top: 20px;
        margin-left: 0px;
    }
}

/* Source: https://highlightjs.org/usage/ */
pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{color:#abb2bf;background:#282c34}.hljs-keyword,.hljs-operator,.hljs-pattern-match{color:#f92672}.hljs-function,.hljs-pattern-match .hljs-constructor{color:#61aeee}.hljs-function .hljs-params{color:#a6e22e}.hljs-function .hljs-params .hljs-typing{color:#fd971f}.hljs-module-access .hljs-module{color:#7e57c2}.hljs-constructor{color:#e2b93d}.hljs-constructor .hljs-string{color:#9ccc65}.hljs-comment,.hljs-quote{color:#b18eb1;font-style:italic}.hljs-doctag,.hljs-formula{color:#c678dd}.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{color:#e06c75}.hljs-literal{color:#56b6c2}.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#98c379}.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{color:#e6c07b}.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{color:#d19a66}.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{color:#61aeee}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}.hljs-link{text-decoration:underline}

/* Small devices (portrait tablets and large phones, 650px and up) */
@media only screen and (min-width: 650px) {

    .logo {
        margin: -10px 0px;
    }

    .right a {
        float: right;
        padding-bottom: 5px;
    }



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) .logo {
    margin: -10px 0px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}


/* End Break Points */
